@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage your products with most efficient Inventory Manager :)</p>
    <a asp-controller="Home" asp-action="AddProduct" class="btn btn-primary"> Add a Product</a>
    <a asp-controller="Home" asp-action="Products" class="btn btn-primary"> View/Modify Products</a>
</div>
